*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.clear::after {  
    content: "";  clear: both;  display: table;

}
#header{
    height: 90px;
    margin: auto;
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin-top:10px ;
}
#header .header__logoshop{
    float: left;
}
.header__logoshop img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}
#header .header__navbar{
    float:right;
}
.header__navbar ul{
    list-style: none;
}
.header__navbar ul a{
    text-decoration: none;
    line-height: 90px;
    margin-right: 20px;
    font-size: 17px;
    color: #ccc;
}
.header__navbar ul a li{
    display: inline-block;
}
.header__navbar ul a li i{

}

#header .header__nav{
    margin-top: 30px;
}
.header__nav .header__nav__option{
    float: left;
}
.header__nav__option ul{

}
.header__nav__option ul a{
    text-decoration: none;
    font-size: 20px;
    color: #ccc;
    margin-right: 10px;
}
.header__nav__option ul a li{
    display: inline-block;
}
.header__nav .header__nav__search{
    float: right;
}
.header__nav__search input{
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
}
.header__nav__search button{
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    border: none;
}
#container{
    margin: auto;
    width: 90%;
    margin-top: 150px;
    
}
#container .container__companyinfor{
    float: left;
}
.container__companyinfor .container__companyinfor__title{
    margin-bottom: 10px;

}
.container__companyinfor__title h1{
    font-size: 30px;
}
.container__companyinfor .container__companyinfor__body{

}
.container__companyinfor__body .container__companyinfor__body__content{

}
.container__companyinfor__body__content i{
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.container__react{
    float: right;
    width: 60%;
}
.container__react .container__react__infor{

}
.container__react__infor input{
    min-width: 49%;
    background-color: #ccc;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    border-radius:5px ;
}
.container__react .container__react__comment{


}
.container__react__comment textarea{
    width: 100%;
    background-color: #ccc;
    border: none;
    padding: 15px;
    border-radius:5px ;
}
.container__react .container__react__buttton{

}
.container__react__buttton input{
    min-width: 100%;
    background-color: orange;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    border-radius:5px ;
    cursor: pointer;
    color: white;
    font-size: 16px;
}