*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.clear::after {  
    content: "";  clear: both;  display: table;

}
#header{
    height: 60px;
    background-color: #008080;
}
#header .header__Content{
    float: left;
}
.header__Content h1{
    color: #FFCC99;
    line-height: 60px;
    margin-left:14px;;
}
#header .header__navbar{
    float: right;
}
.header__navbar ul {
    list-style: none;
}
.header__navbar ul li{
    display: inline-block;
    
}
.header__navbar ul li i{
    color: white;
    font-size: 30px;
    margin: 14px;
    cursor: pointer;
}
#container {

}
#container .container__navbar{
    float: left;
    width: 18%;
    height: 600px;
    background-color: #00CC99;
}
.container__navbar .container__navbar__user{
    background-color:#008080;
    padding-bottom: 10px;
}
.container__navbar__user .container__navbar__user__img{
    float: left;
    margin-left: 20px;
}
.container__navbar__user__img img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.container__navbar__user .container__navbar__user__infor{
    text-align: center;
    float: right;
    margin-right: 80px;
}
.container__navbar__user__infor h1{
    font-size: 20px;
    font-weight: 500;
}
.container__navbar__user__infor h2{
    font-size: 20px;
    color: white;
    font-weight: 100;
}
.container__navbar__user__infor h2::before{ 
    content: ".";
    font-size: 100px;
    position: absolute;
    top:1%;
    left:5%;
    color: green;
}
.container__navbar .container__navbar__search{
    background-color: #00CC99;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.container__navbar__search input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
}
.container__navbar__search button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.container__navbar .container__navbar__optionlist{
    background-color: #00CC99;
}
.container__navbar__optionlist ul{
   
}
.container__navbar__optionlist ul  a{
    color: white;
    text-decoration: none;
    display: block;
}
.container__navbar__optionlist ul .container__navbar__optionlist__selected{
    background-color: #008080;
}
.container__navbar__optionlist ul li{
    color: white;
    border-bottom:1px solid #ccc ;
    cursor: pointer;
    padding: 20px;
}

#container .container__content{
    height: 600px;
    overflow-y: scroll ;
    background-color: #ccc;
    width: 82%;
    float: left;
    padding: 20px 30px 20px 50px;
}
.container__content .container__content__optiontitle{
    margin-bottom:10px ;
}
.container__content__optiontitle h1{
    font-weight: 100;
    font-size: 30px;
    border-bottom: 1px solid white;
}
.container__content__optionbody{
    background-color: white;
    padding: 20px;
}
.container__content__optionbody .container__content__optionbody__header{
    height: 40px;
    background-color:#CCFF99;
}
.container__content__optionbody .container__content__optionbody__infortable{
    margin-top: 20px;
}
.container__content__optionbody__infortable .container__content__optionbody__infortable__quantily{
    float: left;
}
.container__content__optionbody__infortable__quantily #quantily{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.container__content__optionbody__infortable .container__content__optionbody__infortable__search{
    float: right;
}
.container__content__optionbody__infortable__search input{
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
}
.container__content__optionbody .container__content__optionbody__table{
    
    margin: auto;
    margin-top: 20px;
}
.container__content__optionbody__table #table__productlist{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#table__productlist thead tr th{
    padding: 10px;
}
#table__productlist, #table__productlist td, #table__productlist th {
    border: 1px solid #ccc;
}
tbody tr:nth-child(2n+1)>td{
    background-color: #EEEEEE;
}
table img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
#table__productlist td .editproduct{
    background-color:#66CCFF;
    display: inline-block;
    float: left;
    min-width: 50px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
#table__productlist td .deleteproduct{
    background-color:#FF3333;
    display: inline-block;
    min-width: 50px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.setupproduct{
    padding-left: 120px;
    max-width: 100px;
    cursor: pointer;
}
